footer {
    width: 100%;
    background-color: #1A1A1A;
    border-top: 2px solid #EBD924;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 12px 0px 12px 0px;
    margin-top: 70px;
}

footer > div > img {
    padding: 20px;
    width: 80px;
}

footer > #social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

footer > #social-media > a {
    border-radius: 50%;
    background-color: #EBD924;
    padding: 8px;
    text-decoration: none;
}

footer > #social-media > a > i {
    font-size: 30px;
    color: black;
}

#copyright {
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
}
