footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    height: 270px;
    margin: 80px 0px 25px 0px;
}

footer > img {
    width: 200px;
}

footer > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

footer > div > div {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}

footer > div > div > a {
    text-decoration: none;
    color: black;
}

footer > div > div > a:hover {
    text-decoration: underline;
}

section#copyright {
   width: 100%;
   text-align: center;
   background-color: rgb(231, 231, 231);
   font-size: 15px;
   padding: 10px 0px;
   color: gray;
}



@media (max-width: 1100px) {
   footer {
    flex-direction: column;
    gap: 55px;
    margin-bottom: 35px; 
    height: auto;
   }

   footer > div > div > p {
    width: 150px;
   }

   footer > div > div {
    text-align: left;
    width: 200px;
   }

   footer > div {
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    width: 100%;
   }
}

@media (max-width: 750px) {
    footer > div {
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 95%;
    margin-left: 5%;
    font-size: 19px;
    gap: 35px;
    }

   
}

@media (max-width: 650px) {
    footer > div {
        gap: 30px;
        font-size: 18px;
    }
}

