footer {
    width: 100%;
    background-color: #1A1A1A;
    border-top: 2px solid #EBD924;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 12px 0px 12px 0px;
}

footer > #address {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
   
}

footer > div > img {
    width: 130px;
}
footer > div > p {
    color: white;
    width: 200px;
}

footer > #social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

footer > #social-media > a {
    border-radius: 50%;
    background-color: #EBD924;
    padding: 8px;
    text-decoration: none;
}

footer > #social-media > a > i {
    font-size: 30px;
    color: black;
}

@media (max-width: 900px) {
    footer > div > img {
        width: 100px;
    }

}

@media (max-width: 800px) {
    footer {
        justify-content: center;
        gap: 20px;
    }
}

@media (max-width: 700px) {
    footer > #address {
        flex-direction: column;
        gap: 5px;
    }
}

