section#contact {
    display: flex;
    width: 100%;
    background-color: #EEEEEE;
    padding: 10px 0px 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section#contact > #number {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

section#contact > #number > #icon-whats {
    width: 30px;
}

section#contact > #number > a {
    color: black;
    text-decoration: none;
    font-size: 25px;
}

section#contact > #social-media {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

section#contact > #social-media > a > img{
   width: 35px;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    position: relative;
    background-color: #2F2F2F;
    color: white;
}

header > #container-logo {
    width: 30%;
    display: flex;
    
}

header > #container-logo img{
    width: 80px;
}


header > #burguer-menu > i {
    font-size: 40px;
}

header > #burguer-menu {
    display: none;
    cursor: pointer;
}

header > #phone-menu {
    position: absolute;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border: 1px solid black;
    right: 5px;
    top: 70px;
    z-index: 5;
    visibility: hidden;
}

header > #phone-menu > a {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    width: 100%;
}

header > #container-information {
    width: 50%;
    display: flex;
    justify-content: flex-end
}

header > #container-information > a {
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: white;
}

@media (max-width: 1190px) { 
    header {
        justify-content: space-around;
    }

    header > #container-information {
        display: none;
    }

    header > #burguer-menu {
        display: block;
    }

    header > #container-logo > h1 {
        font-size: 21px;
    }
}


@media (max-width: 700px) {
    
}
