@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
  font-family: 'Sora', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  background-color: #2F2F2F;
}

.backgroundImg {
  position: fixed;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
}

.backgroundImg > img{
  width: 200vh;
}

.carousel-container {
    position: relative;
    width: 600px;
    margin: 50px auto;
    overflow: hidden;
    border: 2px solid #ccc;
    border-radius: 10px;
  }
  
  .carousel-slide {
    display: none;
    text-align: center;
    width: 100%;
  }
  
  .carousel-slide img {
    width: 100%;
    height: auto;
  }
  
  .active {
    display: block;
  }
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 16px;
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    font-size: 18px;
    border-radius: 50%;
  }
  
  .prev { 
    left: 10px; 
}
  .next { 
    right: 10px; 
}
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  section#banner-container {
    width: 100%;
    margin-top: 30px;
    position: relative;
  }

  section#banner-container > img {
    width: 100%;
  }

  section#banner-container > i {
    font-size: 70px;
    color: gray;
    position: absolute;
    cursor: pointer;
  }

  section#banner-container > i:hover {
     color: rgb(177, 176, 176)
  }

  section#banner-container > i#left-arrow {
    left: 8%;
    top: 38%;
  }

  section#banner-container > i#right-arrow {
    right: 3%;
    top: 38%;
  }

  section#about-us {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #1f1f1fde;
    padding: 30px 0px -30px 0px;
    height: auto;
    cursor: default;
  }

  section#about-us > h1 {
    font-size: 33px;
    color: white;
    margin-top: 4.5%;
  }

  section#about-us > p {
     margin-top: 20px;
     font-size: 18px;
     width: 60%;
     color: white;
  }

  section#identity {
   background-color: #1f1f1fde;
   height: auto;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   flex-direction: column;
   cursor: default;
  }

  section#identity > h1 {
    text-align: center;
    color: #EBD924;
  }

  section#identity > #container-cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 5%;
    gap: 60px;
  }

  section#identity > #container-cards > div {
  background-color: #2f2f2f;
  color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(255, 255, 255, 0.582);
  height: 350px;
  }

 
  section#identity > #container-cards > div > h3{
     color: #EBD924;
     font-size: 25px;
  }

   section#identity > #container-cards > div > p {
    width: 280px;
    background-color: rgba(138, 137, 137, 0.103);
    color: white;
    font-size: 18px;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
   }

  section#services {
    background-color: #1f1f1fde;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: auto;
    cursor: default;
  }

  section#services > #container-services {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 35px;
  }

  section#services > h1 {
    padding: 50px;
    font-size: 33px;
    color: white;
  }

  section#services > #container-services > div {
    height: 520px;
    width: 288px;
    background-color: #1A1A1A;
    padding: 25px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 5px;
  }

    section#services > #container-services > div > img {
    height: 300px;
    border-radius: 10px;
    }

  section#services > #container-services > div:hover {
    box-shadow: 8px 8px 18px rgba(255, 255, 255, 0.582);
    transition: 0.5s;
  }

  section#services > #container-services > div > h3 {
    color: #EBD924;
    margin-top: 15px;
  }

  section#services > #container-services > div > ul {
    list-style: inside;
    color: white;
  }

  section#photos {
    background-color: #1A1A1A;
    height: 480px;
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }

  section#photos > #container-photos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  section#photos > h2 {
    color: #EBD924;
  }

  section#photos > #container-photos > img {
    width: 210px;
    border-radius: 5px;
  }

  section#photos > #container-photos > img:hover {
    scale: 110%;
    transition: 0.5s;
  }

  section#message {
    background-color: #1f1f1fde;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 42px;
    padding-top: 8%;
    cursor: default;
  }

  section#message > h1 {
    font-size: 33px;
    color: white;
  }

  section#message > form {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  section#message > form > input, textarea {
    width: 550px;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
  }

  section#message> form > button {
    width: 200px;
    height: 50px;
    border-style: none;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 15%;
    padding: 8px;
    background-color: #EBD924;
    color: white;
    cursor: pointer;
    font-weight: 700;
    border-radius: 10px;
    transition: .2s;
  }

  section#message> form > button:hover {
    box-shadow: 0px 0px 8px #EBD924;
    transform: scale(1.05);
  }

  a#back-top {
    background-color: #EBD924;
    padding: 10px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
    border-radius: 15px;
    transition: .2s;
  }

  a#back-top > i {
    color: #2f2f2f;
    font-size: 30px;
  }

  a#back-top:hover {
    box-shadow: 0px 0px 8px #EBD924;
    transform: scale(1.05);
  }

  @media (max-width: 1250px) {
    
    section#services > #container-services { 
        gap: 5px;
    }
  
  }

 @media (max-width: 1190px) {

  section#services > #container-services { 
     gap: 5px;
  }

  section#identity > #container-cards {
    gap: 15px;
  }

 }

 @media (max-width: 1150px) {
   section#services > #container-services { 
     gap: 150px;
  }
 }

  @media (max-width: 1100px) {


    section#identity > #container-cards{
      gap: 20px;
      gap: 30px;
      flex-direction: column;
    }

    section#identity > #container-cards > div{
       padding: 10px;
       height: 330px;
       font-size: 20px;
    }

      section#about-us > p{
        font-size: 20px;
      }

      section#services > #container-services { 
          gap: 70px;
      }

      


  }

  @media (max-width: 950px) {

    section#services > h1 {
        
      margin-top: 300px;
      
        
      }

    section#identity {
      height: 900px;
      padding: 10px 0px 10px 0px;
      gap: 30px;
    }
    section#identity > #container-cards > div{
       padding: 15px;
    }

    section#identity > #container-cards {
      flex-direction: column;
    }
    
  }

  @media (max-width: 800px) {

  @media (max-width: 700px) {

    

    section#services > h1 {
       font-size: 28px;
    }

    section#services > #container-services > div  {
      width: 300px;
    }

    section#services > #container-services > div > img {
      width: 250px;
    }
    }

    section#services > #container-services {
      gap: 100px;
      gap: 70px;
    }

    section#partners > div > img{
       width: 250px;
    }

    /*section#banner-container > img{

    }*/

    section#banner-container > i {
      font-size: 40px;
    }

    section#banner-container > i#left-arrow {
      left: 8%;
    }

  }

